<!DOCTYPE html>
<html>
<head>
	<title>Password Form</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript" src="password.js"></script>
</head>
<body ng-app="app">
	<div ng-controller="controller">
	<div class="container">
		<form name="Form">
		<label>Current Password</label>
		<input type="password" ng-model="currentpassword"name="CurrentPassword" class="form-control" required ng-minlength="8" ng-maxlength="15">
		<div ng-show="Form.$submitted || Form.CurrentPassword.$touched">
			<div ng-show="Form.CurrentPassword.$error.required">Password is Required</div>
			<div ng-show="Form.CurrentPassword.$error.minlength">Password Must be 8</div>
			<div ng-show="Form.CurrentPassword.$error.maxlength">Password between 8 to 15</div>
		</div><br>
		<label>New Password</label>
		<input type="password"  ng-model="newpassword" name="NewPassword" class="form-control" required ng-minlength="8" ng-maxlength="15">
		<div ng-show="Form.$submitted || Form.NewPassword.$touched">
			<div ng-show="Form.NewPassword.$error.required">Password is Required</div>
			<div ng-show="Form.NewPassword.$error.minlength">Password Must be 8</div>
			<div ng-show="Form.NewPassword.$error.maxlength">Password between 8 to 15</div>
		</div><br>
		<label>Confirm Password</label>
		<input type="password" ng-model="confirmpassword" name="ConfirmPassword" class="form-control" required ng-minlength="8" ng-maxlength="15">
		<div ng-show="Form.$submitted || Form.ConfirmPassword.$touched">
			<div ng-show="Form.ConfirmPassword.$error.required">Password is Required</div>
			<div ng-show="Form.ConfirmPassword.$error.minlength">Password Must be 8</div>
			<div ng-show="Form.ConfirmPassword.$error.maxlength">Password between 8 to 15</div>
		</div><br>
		<button  class="btn btn-success btn-block"ng-click="click()">Submit</button>
	</form>
	</div>
</div>

</body>
</html>